@{
    ViewBag.Title = "My Podcasts";
}

<!--Nicholas Applegate-->
<!--Provide link to Baconsale Podcast-->

<div>
    <p>Here's a link to my Baconsale Podcast site:</p> 
    <p><a href='https://baconsale.com/'>https://baconsale.com/</a></p>
</div>